[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
celery = "*"
pydantic-settings = "*"
sqlalchemy = "*"
redis = "*"
pydantic = {extras = ["email"], version = "*"}
alembic = "*"
argon2-cffi = "*"
asyncpg = "*"
psycopg2-binary = "*"
python-jose = "*"
pytz = "*"
fastapi-cache2 = {extras = ["redis"], version = "*"}
slowapi = "*"
authlib = "*"
itsdangerous = "*"
httpx = "*"

[dev-packages]
pytest-asyncio = "*"
pytest = "*"
aiosqlite = "*"

[requires]
python_version = "3.13"
python_full_version = "3.13.5"
